@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #e74c3c);
}
.navigation {
    position: relative;
    height: 400px;
    width: 120px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
}
.navigation ul {
    width: 150px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    left: -15px;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    transform: translateX(27px);
}
.navigation ul li.active a .icon  {
    color: #180404;
    transform: translateX(85px);
}
.navigation ul li a .icon ion-icon {
    transition: 0.5s;
}
.navigation ul li.active a .icon ion-icon {
    color: black;
}
.navigation ul li a .text {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 1.5px;
    text-align: left;
    transition: 0.5s;
    color: white;
    opacity: 0;
    transform: translateX(-20px);
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateX(5px);
}
.indicator {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #29fd53;
    border-radius: 50px;
    right: -25%;
    top: 7%;
    transition: 0.5s;
}
.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateY(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateY(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateY(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateY(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateY(calc(70px * 4));
}
.signin {
    margin: 10% auto;
}
.card {
    color: #fff3f0;
    background-color: rgba(0, 0, 0, 0.45);
    font-family: 'Smooch', cursive;
    width: 480px;
    height: 800px;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s ease-out;
}
.table1,
.table2 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 50px;
    backface-visibility: hidden;
}
.table1 {
    transform: rotateY(180deg);
}
.title {
    font-size: 3rem;
}
.firstname,
.secondname,
.username,
.password,
.signupin-btn {
    width: 380px;
    height: 64px;
    border-radius: 1.5in;
    border: none;
    margin-top: -5%;
}
.firstname,
.secondname,
.username,
.password {
    background: rgba(0, 0, 0, 0.45);
    padding-left: 15px;
    color: #fff3f0;
    outline: none;
    font-size: 17px;
}
.signupin-btn {
    background: linear-gradient(to right, #000000, #e74c3c);
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: "Hammersmith One", sans-serif;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}
.signupin-btn:hover {
    box-shadow: 0px 0px 25px -5px #000000;
}
.help-box {
    padding: 0;
    margin: 0;
    position: relative;
}
.help {
    position: absolute;
    left: 76.5%;
    top: 20%;
    text-decoration: none;
    color: #a71aa0;
}
.signupin-box {
    padding: 0;
    margin: 0;
    position: relative;
}
.new-to-wb {
    position: absolute;
}
.f-signup {
    position: absolute;
    text-align: right;
    left: 74%;
    text-decoration: none;
    color: #a71aa0;
    cursor: pointer;
}
.f-signin {
    position: absolute;
    text-align: right;
    left: 76%;
    text-decoration: none;
    color: #a71aa0;
    cursor: pointer;
}
.help:hover,
.f-signup:hover,
.f-signin:hover {
    text-decoration: underline;
}
.captcha {
    color: #fff3f059;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}